@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");

:root {
  --background-clr: hsl(0, 0%, 98%);
  --text-clr-titles: hsl(234, 12%, 34%);
  --text-clr-description: hsl(234, 12%, 34%);
  --card-clr-green: hsl(180, 62%, 55%);
  --card-clr-red: hsl(0, 78%, 62%);
  --card-clr-orange: hsl(34, 97%, 64%);
  --card-clr-blue: hsl(212, 86%, 64%);
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.header,
.card-title {
  color: var(--text-clr-titles);
}

.description,
.card-description {
  color: var(--text-clr-description);
}

main {
  width: 100%;
  margin-inline: 2rem;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: center;
}

.header-title {
  font-weight: 100;
}

.description {
  text-align: center;
  max-width: 34rem;
}

.card-ctn {
  display: grid;
  margin-top: 3rem;
  gap: 2rem;
  place-items: center;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  max-width: 70rem;
}

.card {
  aspect-ratio: 3/2;
  width: 100%;
  box-shadow: 0 1rem 2rem #4482;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  max-width: 22rem;
  transition: transform 0.2s ease-in-out;
  gap: 2rem;
}

.card:hover {
  transform: scale(1.05);
}

.card:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
}

.card:nth-child(1) {
  grid-area: one;
}

.card:nth-child(1):after {
  background: var(--card-clr-green);
}

.card:nth-child(2) {
  grid-area: two;
}

.card:nth-child(2):after {
  background: var(--card-clr-red);
}

.card:nth-child(3) {
  grid-area: three;
}

.card:nth-child(3):after {
  background: var(--card-clr-orange);
}

.card:nth-child(4) {
  grid-area: four;
}

.card:nth-child(4):after {
  background: var(--card-clr-blue);
}

.card-title {
  font-size: 1.25rem;
}

.card-description {
  font-size: 0.8rem;
}

.card-illustration {
  margin-top: auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}

@media (max-width: 336px) {
  .card {
    aspect-ratio: auto;
  }
}

@media (max-width: 672px) {
  main {
    margin-block: 4rem;
  }

  .card-ctn {
    grid-template-areas: 
            "one"
            "two"
            "three"
            "four";
  }
}

@media (min-width: 673px) {
  .card-ctn {
    grid-template-areas:
            "one two"
            "three four";
  }
}

@media (max-width: 1080px) {
  main {
    margin-block: 3rem;
  }

  .card {
    height: 100%;
    aspect-ratio: auto;
  }
}

@media (min-width: 1081px) {
  main {
    margin-block: 2rem;
  }
  
  .card-ctn {
    grid-template-areas:
            "one two four"
            "one three four";
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}